# Node
node_modules/
npm-debug.log*
yarn.lock

# Env
.env
.env.local

# Python
__pycache__/
venv/
venv_py311/

# Build
dist/
build/

# OS
.DS_Store
.vercel

# Uploads
backend/uploads/
frontend/uploads/
ml_service/temp_uploads/

# ML Service models (too large for Vercel)
ml_service/models/
ml_service/results/
ml_service/venv_py311/
